*.log
services/*
!services/sample.yaml
*.pyc
__pycache__/*
lib/*
crawlers/*
!crawlers/gn_crawler.py
detectors/*
!detectors/gn_detector.py
!detectors/gn_base.py
!detectors/gn_string.py
*.json
*.txt
.env
docker-compose.yml